@use 'variable' as v;
@media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .status {
        font-size: v.$font-size;
    }

    .reset {
        font-size: v.$font-size;
    }

    .x::after{
        font-size: 80px;
    }

    .o::after{
        font-size: 120px;
    }
}